<% @page_title = "New Notification for #{(@notification.person_ids||[]).size} People" %>
<%= form_for @notification do |f| %>
  <%= hidden_field_tag :redirect_to, params[:redirect_to] || request.referrer %>
  <%= form_input_row f, :subject %>

  <% label = "<label>Body<br/><br/><small>#{NotificationMailer::NOTIFICATION_REPLACEMENTS.map{|f| "%{#{f}}"}.join(br).html_safe}</small></label>" %>
  <%= input_row label do %>
    <%= f.text_area :body, :style => 'height: 200px; width: 500px' %>
  <% end %>

  <div class="normal_labels">
    <% @notification.people.each do |person| %>
      <div>
        <%= check_box_with_label 'notification[person_ids][]', person.id, true, name_for_object(person) %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Notify Selected', :class => 'btn primary' %>
  </div>
<% end %>